[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
notebook = "*"
requests = "*"
bs4 = "*"
selenium-stealth = "*"

[dev-packages]

[requires]
python_version = "3.12"
